# Python
__pycache__/
*.py[cod]
*.so

# Virtual Env
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Database
*.db

# Logs
*.log

# Testing
.pytest_cache/
.coverage

# Mypy
.mypy_cache/

# Mac
.DS_Store